/*
* @Author: liuyiqiang
* @Date:   2017-06-22 23:19:53
* @Last Modified by:   liuyiqiang
* @Last Modified time: 2017-06-22 23:21:35
*/
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}