<div class="footer">
	<div class="w">
		<!-- 友情链接 -->
		<div class="links">
			<a class="link" href="http://www.imooc.com" target="_balnk">慕课网</a> |
			<a class="link" href="https://www.baidu.com" target="_balnk">百度</a> |
			<a class="link" href="https://www.taobao.com" target="_balnk">淘宝网</a> |
			<a class="link" href="http://www.zhihu.com" target="_balnk">知乎</a>
		</div>
		<!-- 版权声明 -->
		<p class="copyright">
			Copyright © 2017 happymmall.com All Rights Reserved
			
		</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>